{{>_header}}
<header class="navbar navbar-expand-lg bg-body-tertiary">

    <nav class="navbar-nav">
        <h2 class="navbar-brand nav-item">Strona główna</h2>
        <a href="/" class="active nav-item nav-link">Home</a>
        <a href="/contact" class="nav-item nav-link">Contact</a>
        <a href="/about" class="nav-item nav-link">About</a>
    </nav>
</header>
{{>_footer}}